ion-content{
  --background: rgb(0, 0, 0);
}
ion-item{
  --background: #000000;
}
ion-button{
  --background: #ea9ace;
}
.deleteButton{
background-color: red;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
.contact{
  display: flex;
  justify-content: space-between;
  align-items:self-start;
}
.menu{
  width: 300px;
}

