<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pagina principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink="/calculadora">
    calculadora
  </ion-button>
  <ion-button routerLink="/contactos">
    contactos
  </ion-button>
  <ion-button routerLink="/memorama">
    memorama
  </ion-button>
  

  <div id="container">
    <strong>¡Hola!</strong>
    <br><br>
    <strong>Bienvenido a mi página</strong>
  </div>
</ion-content>
